node_modules/**/*
/Omar
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.firebaserc
*.log

# macOS
.DS_Store
fb.js
functions/firebase-debug.log
functions/firestore-debug.log
functions/ui-debug.log
firebase-debug.log
